In [1]:
import pandas as pd
root = "D:/2011_Census/"
df = pd.read_csv(root+"villages_copy.csv")

C:\Users\PARI\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,1,6,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
#1931 Names have commas in them and this has distorted the csv.
#Getting rid of those to keep things simple
#TRU is the column after Name. It gets wrong values. The only correct values it can have are Urban, Rural or Total
df = df[df['TRU'].isin(['Urban','Rural','Total'])]  
df

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Person,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98
0,1,1,Kupwara,1.0,0.0,0.0,0,CD BLOCK,Kralpora,Urban,...,21.0,13.0,8.0,5649.0,2677.0,2972.0,NaN,NaN,NaN,NaN
1,1,1,Kupwara,1.0,1.0,0.0,0,VILLAGE,Bore,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,1,1,Kupwara,1.0,2.0,0.0,0,VILLAGE,Keran,Rural,...,0.0,0.0,0.0,2616.0,1447.0,1169.0,NaN,NaN,NaN,NaN
3,1,1,Kupwara,1.0,3.0,0.0,0,VILLAGE,Bugna,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1,1,Kupwara,1.0,4.0,0.0,0,VILLAGE,Bichwal,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665917,35,640,South Andaman,9.0,645566.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-III (FDCA),Rural,...,1.0,0.0,1.0,46.0,16.0,30.0,NaN,NaN,NaN,NaN
665918,35,640,South Andaman,9.0,645567.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-IV (FDCA),Rural,...,5.0,2.0,3.0,123.0,41.0,82.0,NaN,NaN,NaN,NaN
665919,35,640,South Andaman,9.0,645568.0,0.0,0,VILLAGE,Red Oil Palm (Nursery Camp),Rural,...,0.0,0.0,0.0,97.0,30.0,67.0,NaN,NaN,NaN,NaN
665920,35,640,South Andaman,9.0,645569.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-II (FDCA),Rural,...,0.0,0.0,0.0,125.0,51.0,74.0,NaN,NaN,NaN,NaN
665921,35,640,South Andaman,9.0,645570.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-I (FDCA),Rural,...,0.0,0.0,0.0,44.0,15.0,29.0,NaN,NaN,NaN,NaN

In [3]:
non_numeric_cols = [
 'State Code',
'District Code'	,
'District Name',	
'Subdistt Code',
'Town/Village Code'	,
'Ward Code1?',
'Ward Code2?',	
'Level',	
'Name',	
'TRU'
]

In [4]:
import locale
locale.setlocale(locale.LC_ALL, 'en_IN')

'en_IN'

In [5]:
#Find the total population, total no. of households etc.
#Rows where TRU= Total are aggregates of all the urban and rural under the CD BLOCK etc.
#We need to filter them if we wish to add columnar values
df_no_total = df[df['TRU'].isin(['Urban','Rural'])]
df_no_total

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Person,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98
0,1,1,Kupwara,1.0,0.0,0.0,0,CD BLOCK,Kralpora,Urban,...,21.0,13.0,8.0,5649.0,2677.0,2972.0,NaN,NaN,NaN,NaN
1,1,1,Kupwara,1.0,1.0,0.0,0,VILLAGE,Bore,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,1,1,Kupwara,1.0,2.0,0.0,0,VILLAGE,Keran,Rural,...,0.0,0.0,0.0,2616.0,1447.0,1169.0,NaN,NaN,NaN,NaN
3,1,1,Kupwara,1.0,3.0,0.0,0,VILLAGE,Bugna,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,1,1,Kupwara,1.0,4.0,0.0,0,VILLAGE,Bichwal,Rural,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665917,35,640,South Andaman,9.0,645566.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-III (FDCA),Rural,...,1.0,0.0,1.0,46.0,16.0,30.0,NaN,NaN,NaN,NaN
665918,35,640,South Andaman,9.0,645567.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-IV (FDCA),Rural,...,5.0,2.0,3.0,123.0,41.0,82.0,NaN,NaN,NaN,NaN
665919,35,640,South Andaman,9.0,645568.0,0.0,0,VILLAGE,Red Oil Palm (Nursery Camp),Rural,...,0.0,0.0,0.0,97.0,30.0,67.0,NaN,NaN,NaN,NaN
665920,35,640,South Andaman,9.0,645569.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-II (FDCA),Rural,...,0.0,0.0,0.0,125.0,51.0,74.0,NaN,NaN,NaN,NaN
665921,35,640,South Andaman,9.0,645570.0,0.0,0,VILLAGE,Butler Bay Forest Camp 4-I (FDCA),Rural,...,0.0,0.0,0.0,44.0,15.0,29.0,NaN,NaN,NaN,NaN

In [7]:
# Calculate the sum total of each column
for col in df.columns:
    if(col not in non_numeric_cols):
        print(locale.format_string(col+': %d', df_no_total[col].apply(lambda x: float(x)).sum(axis=0, skipna=True), grouping=True))

No of Household: 36,24,09,681
Total population Person: 1,78,14,17,602
Total population Male: 91,39,75,862
Total population Female: 86,74,41,740
Population in the age group 0-6 Person: 25,60,57,119
Population in the age group 0-6 Male: 13,31,59,869
Population in the age group 0-6 Female: 12,28,97,250
Scheduled Castes population Person: 32,44,05,742
Scheduled Castes population Male: 16,67,81,823
Scheduled Castes population Female: 15,76,23,919
Scheduled Tribes population Person: 19,08,64,475
Scheduled Tribes population Male: 9,58,89,285
Scheduled Tribes population Female: 9,49,75,190
Literates population Person: 1,05,06,48,686
Literates population Male: 60,88,05,816
Literates population Female: 44,18,42,870
Illiterate Persons: 73,07,68,916
Illiterate Male: 30,51,70,046
Illiterate Female: 42,55,98,870
Total Worker Population Person: 73,73,05,189
Total Worker Population Male: 48,48,11,154
Total Worker Population Female: 25,24,94,035
Main Working Population Person: 52,57,39,602
Main Working Population Male: 38,38,87,312
Main Working Population Female: 14,18,52,290
Main Cultivator Population Person: 18,64,13,994
Main Cultivator Population Male: 14,17,13,952
Main Cultivator Population Female: 4,47,00,042
Main Agricultural Labourers Population Person: 16,37,78,798
Main Agricultural Labourers Population Male: 10,45,77,978
Main Agricultural Labourers Population Female: 5,92,00,820
Main Household Industries Population Person: 1,64,47,984
Main Household Industries Population Male: 95,45,128
Main Household Industries Population Female: 69,02,856
Main Other Workers Population Person: 15,90,98,826
Main Other Workers Population Male: 12,80,50,254
Main Other Workers Population Female: 3,10,48,572
Marginal Worker Population Person: 21,15,65,587
Marginal Worker Population Male: 10,09,23,842
Marginal Worker Population Female: 11,06,41,745
Marginal Cultivator Population Person: 4,46,29,702
Marginal Cultivator Population Male: 1,88,33,969
Marginal Cultivator Population Female: 2,57,95,733
Marginal Agriculture Labourers Population Person: 11,28,29,341
Marginal Agriculture Labourers Population Male: 5,30,27,961
Marginal Agriculture Labourers Population Female: 5,98,01,380
Marginal Household Industries Population Person: 99,97,960
Marginal Household Industries Population Male: 35,98,077
Marginal Household Industries Population Female: 63,99,883
Marginal Other Workers Population Person: 4,41,08,584
Marginal Other Workers Population Male: 2,54,63,835
Marginal Other Workers Population Female: 1,86,44,749
Marginal Worker Population 3-6 Person: 17,09,02,402
Marginal Worker Population 3-6 Male: 8,29,84,608
Marginal Worker Population 3-6 Female: 8,79,17,794
Marginal Cultivator Population 3-6 Person: 3,47,44,233
Marginal Cultivator Population 3-6 Male: 1,47,30,960
Marginal Cultivator Population 3-6 Female: 2,00,13,273
Marginal Agriculture Labourers Population 3-6 Person: 9,28,19,263
Marginal Agriculture Labourers Population 3-6 Male: 4,43,67,187
Marginal Agriculture Labourers Population 3-6 Female: 4,84,52,076
Marginal Household Industries Population 3-6 Person: 75,66,616
Marginal Household Industries Population 3-6 Male: 27,87,066
Marginal Household Industries Population 3-6 Female: 47,79,550
Marginal Other Workers Population Person 3-6 Person: 3,57,72,290
Marginal Other Workers Population Person 3-6 Male: 2,10,99,395
Marginal Other Workers Population Person 3-6 Female: 1,46,72,895
Marginal Worker Population 0-3 Person: 4,06,63,185
Marginal Worker Population 0-3 Male: 1,79,39,234
Marginal Worker Population 0-3 Female: 2,27,23,951
Marginal Cultivator Population 0-3 Person: 98,85,469
Marginal Cultivator Population 0-3 Male: 41,03,009
Marginal Cultivator Population 0-3 Female: 57,82,460
Marginal Agriculture Labourers Population 0-3 Person: 2,00,10,078
Marginal Agriculture Labourers Population 0-3 Male: 86,60,774
Marginal Agriculture Labourers Population 0-3 Female: 1,13,49,304
Marginal Household Industries Population 0-3 Person: 24,31,344
Marginal Household Industries Population 0-3 Male: 8,11,011
Marginal Household Industries Population 0-3 Female: 16,20,333
Marginal Other Workers Population 0-3 Person: 83,36,294
Marginal Other Workers Population 0-3 Male: 43,64,440
Marginal Other Workers Population 0-3 Female: 39,71,854
Non Working Population Person: 1,04,41,12,413
Non Working Population Male: 42,91,64,708
Non Working Population Female: 61,49,47,705
Unnamed: 95: 0
Unnamed: 96: 0
Unnamed: 97: 0
Unnamed: 98: 0

In [32]:
#find all the places in the country where the population is 0 i.e "Ghost Towns"
ghosts = df_no_total[df_no_total['Total population Person']==0]

In [33]:
#Find out which states have the most number of ghost towns 
states = pd.read_csv(root+"states.csv")
states

    State Code                        State Name
0            1                   Jammu & Kashmir
1            2                  Himachal Pradesh
2            3                            Punjab
3            4                        Chandigarh
4            5                        Uttranchal
5            6                           Haryana
6            7                             Delhi
7            8                         Rajasthan
8            9                     Uttar Pradesh
9           10                             Bihar
10          11                            Sikkim
11          12                 Arunachal Pradesh
12          13                          Nagaland
13          14                           Manipur
14          15                           Mizoram
15          16                           Tripura
16          17                         Meghalaya
17          18                             Assam
18          19                       West Bengal
19          20                         Jharkhand
20          21                            Orissa
21          22                      Chhattisgarh
22          23                    Madhya Pradesh
23          24                           Gujarat
24          25                       Daman & Diu
25          26              Dadra & Nagar Haveli
26          27                       Maharashtra
27          28                    Andhra Pradesh
28          29                         Karnataka
29          30                               Goa
30          31                        Lakshdweep
31          32                            Kerala
32          33                        Tamil Nadu
33          34                       Pondicherry
34          35         Andaman & Nicobar Islands

In [34]:
ghosts = pd.merge(states, gt.groupby('State Code').count(), on='State Code', how='inner').sort_values('District Code', ascending=False)
ghosts.iloc[:,[0,1,2]] #the column name "District Code" is incorrect. It should be "No. of ghost towns"

   State Code                        State Name  District Code
6           9                     Uttar Pradesh           7752
7          10                             Bihar           6288
20         23                    Madhya Pradesh           3210
17         20                         Jharkhand           2979
23         27                       Maharashtra           2912
16         19                       West Bengal           2889
18         21                            Orissa           2435
25         29                         Karnataka           2064
1           2                  Himachal Pradesh           1441
5           8                         Rajasthan           1431
29         33                        Tamil Nadu           1232
19         22                      Chhattisgarh            685
2           5                        Uttranchal            523
21         24                           Gujarat            513
9          12                 Arunachal Pradesh            428
15         18                             Assam            420
14         17                         Meghalaya            416
0           1                   Jammu & Kashmir            328
30         35         Andaman & Nicobar Islands            165
12         15                           Mizoram            155
11         14                           Manipur            101
28         32                            Kerala             64
10         13                          Nagaland             63
13         16                           Tripura             40
8          11                            Sikkim             34
27         31                        Lakshdweep             24
24         28                    Andhra Pradesh             20
26         30                               Goa             15
3           6                           Haryana             12
4           7                             Delhi              9
22         25                       Daman & Diu              1

In [42]:
#Ratio of SC population to Total Population for each village and sort with the highest ratio
no_ghosts = df_no_total[df_no_total['Total population Person']!=0]
no_ghosts['ratio'] = no_ghosts['Scheduled Castes population Person'].apply(lambda x: float(x))/no_ghosts['Total population Person'].apply(lambda x: float(x))
no_ghosts = no_ghosts[no_ghosts['ratio']!=0]
no_ghosts.sort_values('ratio', ascending=False)

C:\Users\PARI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,ratio
621987,29,564,Haveri,58.0,604012.0,0.0,0,VILLAGE,Maruthipura,Rural,...,0.0,0.0,314.0,110.0,204.0,NaN,NaN,NaN,NaN,1.0
53950,5,64,Almora,65.0,52628.0,0.0,0,VILLAGE,Bhukmiya,Rural,...,0.0,0.0,175.0,80.0,95.0,NaN,NaN,NaN,NaN,1.0
659193,33,621,Pudukkottai,239.0,639410.0,0.0,0,VILLAGE,Kunichipatti,Rural,...,0.0,0.0,155.0,75.0,80.0,NaN,NaN,NaN,NaN,1.0
411284,21,382,Jajapur,137.0,400605.0,0.0,0,VILLAGE,Dhapanki,Rural,...,0.0,0.0,287.0,97.0,190.0,NaN,NaN,NaN,NaN,1.0
213227,9,196,Chandauli,771.0,208269.0,0.0,0,VILLAGE,Chaknsopur,Rural,...,0.0,0.0,46.0,22.0,24.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311157,18,321,Kamrup,187.0,302854.0,0.0,0,VILLAGE,Umdaling F.V.,Rural,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
311160,18,321,Kamrup,188.0,0.0,0.0,0,CD BLOCK,Goroimari,Urban,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
311164,18,321,Kamrup,188.0,302860.0,0.0,0,VILLAGE,Dighal Duba,Rural,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
311233,18,321,Kamrup,189.0,0.0,0.0,0,CD BLOCK,Chamaria,Urban,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
311252,18,321,Kamrup,189.0,302953.0,0.0,0,VILLAGE,No.1 Jatia Dia,Rural,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [47]:
def ratio(col1, col2):
    t = df_no_total[df_no_total[col2]!=0]
    t['ratio'] = t[col1].apply(lambda x: float(x))/t[col2].apply(lambda x: float(x))
    t = t[t['ratio']!=0]
    t.sort_values('ratio', ascending=False)
    return t

In [48]:
ratio('Scheduled Castes population Person', 'Total population Person')

C:\Users\PARI\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,State Code,District Code,District Name,Subdistt Code,Town/Village Code,Ward Code1?,Ward Code2?,Level,Name,TRU,...,Marginal Other Workers Population 0-3 Male,Marginal Other Workers Population 0-3 Female,Non Working Population Person,Non Working Population Male,Non Working Population Female,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,ratio
14,1,1,Kupwara,1.0,82.0,0.0,0,VILLAGE,Farkan,Rural,...,53.0,16.0,2241.0,1086.0,1155.0,NaN,NaN,NaN,NaN,0.001501
18,1,1,Kupwara,1.0,86.0,0.0,0,VILLAGE,Panzgam,Rural,...,29.0,6.0,10047.0,4740.0,5307.0,NaN,NaN,NaN,NaN,0.000692
20,1,1,Kupwara,1.0,88.0,0.0,0,VILLAGE,Chowkibal,Rural,...,2.0,0.0,3046.0,1350.0,1696.0,NaN,NaN,NaN,NaN,0.004852
30,1,1,Kupwara,2.0,0.0,0.0,0,CD BLOCK,Trehgam,Urban,...,165.0,72.0,17322.0,8260.0,9062.0,NaN,NaN,NaN,NaN,0.000182
51,1,1,Kupwara,2.0,126.0,0.0,0,TOWN,Trehgam (CT),Urban,...,140.0,36.0,12049.0,5765.0,6284.0,NaN,NaN,NaN,NaN,0.000257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665331,34,637,Karaikal,3.0,645008.0,0.0,0,VILLAGE,Thennankudy,Rural,...,0.0,0.0,1479.0,545.0,934.0,NaN,NaN,NaN,NaN,0.247307
665332,34,637,Karaikal,3.0,645009.0,0.0,0,VILLAGE,Sethur,Rural,...,8.0,6.0,2541.0,844.0,1697.0,NaN,NaN,NaN,NaN,0.159640
665333,34,637,Karaikal,3.0,645010.0,0.0,0,VILLAGE,Sellur,Rural,...,4.0,5.0,1677.0,556.0,1121.0,NaN,NaN,NaN,NaN,0.271958
665334,34,637,Karaikal,3.0,645011.0,0.0,0,VILLAGE,Pettai,Rural,...,10.0,14.0,2037.0,674.0,1363.0,NaN,NaN,NaN,NaN,0.207080
665335,34,637,Karaikal,3.0,644995.0,0.0,0,TOWN,Thirumalairayanpattinam (CT),Urban,...,11.0,7.0,7652.0,2442.0,5210.0,NaN,NaN,NaN,NaN,0.068981